* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  /* background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  ); */
  animation: changeColor 60s infinite;
}
.banner-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  border-radius: 10px 10px 0 0;
  background-color: #161a2b;
  border: 2px solid white;
  text-align: center;
  margin: 8vh auto 0 auto;
  animation: apearIn 1s ease-out;
  text-shadow: 0 0 5px rgb(29, 0, 219), 0 0 5px rgb(78, 47, 255);
}
.banner-container:hover{
  background-color: #ff9d00;
  transition: background 0.5s;
  /* transition: text 0.5s; */
}
.check{
  text-shadow: none;
}
.title{
  animation: pulse 5s infinite 1s;
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  padding-bottom: 32px;
  border: 2px solid white;
  animation: apearIn 1s ease-out;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

div .complete {
  text-decoration: line-through;
  color: red;
  opacity: 0.4;
  transition: opacity 1s;
  transition: color 1s;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  border-radius: 4px 0 0 4px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    0deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  animation: apearIn 0.3s linear;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    0deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    0deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    0deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}
.todo-row:hover {
  background: rgb(95, 95, 95);
  color: white;
  transition: background 0.5s linear;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}
.link {
  color: white;
  text-decoration: none;
  margin-top: 20px;
}
.link:hover {
  color: yellow;
  transition: color 1s;
}
@keyframes changeColor {
  0% {
    background-color: rgba(100, 115, 255, 1);
  }
  25% {
    background-color: rgb(152, 0, 212);
  }
  50% {
    background-color: rgb(255, 62, 62);
  }
  75% {
    background-color: rgb(0, 199, 76);
  }
  100% {
    background-color: rgb(100, 115, 255, 1);
  }
}
@keyframes apearIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}